<ul class="nav">
  <li class="nav-item">
    <a class="nav-link active" aria-current="page" href="/">Tienda</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/signup">signup</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/signin">signin</a>
  </li>
  <li class="nav-item">
    <a class="nav-link disabled" aria-disabled="true">/carrito</a>
  </li>
</ul>