<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>E-Commerce</title>
</head>
<body>
    
{{{ body }}} 
{{!-- sintaxis de handlebars/ esto implica que solo esto cambiara en esta seccion de archivo/ no cambia la cabecera ni el fooder --}}

</body>
</html>